
/*brand color*/

:root {
    --brand-color-background: #2F303A;
    --brand-color-black: #212121;
    --brand-color-grey: #757575;
    --brand-color-blue: #2196F3;
    --brand-color-white: #FFFFFF;

}

