/* zmienne */

:root {
	--brand-color-black: #212121;
	--brand-color-grey: #757575;
	--brand-color-white: #fff;
	--brand-color-blue: #2196f3;
	--brand-background-dark: #2f303a;
}
body {
	background-color: #e5e5e5;
	font-family: "Roboto", sans-serif;
	color: var(--brand-color-black);
}

/* Header, nav, logo */

.header {

	background-color: var(--brand-color-white);
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.logo {
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	color: #000;
	text-decoration: none;
}

.blue-logo {
	color: var(--brand-color-blue);
}
.nav-list {
	list-style: none;
}
.nav-link {
	text-decoration: none;
	font-size: 14px;
	font-weight: 500;
	color: var(--brand-color-black);
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
	color: var(--brand-color-blue);
}

.contact-list {
	list-style: none;
}
.contact-link {
	color: var(--brand-color-grey);
	text-decoration: none;
	font-size: 14px;
	font-weight: 500;
}

.contact-link:hover,
.contact-link:focus,
.contact-link:active {
	color: var(--brand-color-blue);
}

/* Hero */
.hero {
	height: 600px;
	background-color: var(--brand-background-dark);
	text-align: center;
}

.hero-title {
	color: var(--brand-color-white);
	text-transform: uppercase;
	font-size: 44px;
	font-weight: 900;
	line-height: 60px;
	letter-spacing: 0.06em;
}

.hero-title:hover {
	text-decoration: underline;
}

.btn-hero {
	color: var(--brand-color-white);
	background-color: var(--brand-color-blue);
	border: none;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	width: 200px;
	height: 50px;
	cursor: pointer;
}

.btn-hero:hover,
.btn-hero:focus,
.btn-hero:active {
	background-color: var(--brand-color-white);
	color: var(--brand-color-blue);
}

/* Section Lorem*/

.lorem{
    background-color: var(--brand-color-white);
}

.lorem-list {
    list-style: none;
}

.lorem-title {
    
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0.03em;
	
}

.lorem-text {
    font-size: 14px;
    line-height: 24px;
    color: var(--brand-color-grey);
}

/* ourJob offer */

.offer {
    background-color:var(--brand-color-white);
}

.offer-title {
    text-align: center;
    font-size: 36px;
}

.offer-list {
    text-align: center;
    list-style: none;
}

/* ourTeam */

.team-list {
    list-style: none;
}

.team {
  text-align: center;
  background-color: #f5f4fa;
}

.team-title {
	font-size: 36px;
	font-weight: 700;
}

.team-item {
    background-color: var(--brand-color-white);
}

.team-person {
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;

}

.team-person-work{
    color: var(--brand-color-grey);
  }

/* Footer */
.footer {
	background-color: #2f303a;
}

.footer .logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: var(--brand-color-white);
}

.address-list {
    list-style: none;
}

.address-item {
    color: var(--brand-color-white);
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
  
}

.address-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }

.address-link:hover,
.address-link:focus,
.address-link:active {
  color: var(--brand-color-white);
}